html {
background-color: #101C32;
height: auto;
}

body 
{
background: url("../images/background.jpg") #101C32 top center no-repeat;
font-family: roboto;
font-weight: 300;
font-size: 15px;
margin: 0;
min-height: 800px;
}

textarea
{
resize: none;
}

input {
margin: 0;
font-family: roboto;
padding: 3px 5px;
font-weight: 300;
font-size: 12px;
}

p
{
padding-bottom: 0;
margin-bottom: 0;
}

select:focus, input:focus, div:focus { 
	outline: none; 
}

select {
padding: 3px 5px;
display: block;
font-family: roboto;
-webkit-appearance: none;
border-radius: 0px;
border: 1px solid #ccc;
background: #ececec;
font-weight: 300;
float: left;
}


#menu a, #menu a:visited, #menu input {
margin-right: 10px;
color: #fff;
font-size: 13px;
padding: 5px 10px;
text-decoration: none;
font-family: roboto;
font-weight: 300;
}

#container 
{
	width: 1000px;
	margin: 0 auto;
}

#header
{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	margin-bottom:50px;
}

#menu {
position: absolute;
top: 10px;
right: 0;
color: #E26D26;
}

.input_login {
font-size: 16px;
margin-bottom: 15px;
width: 185px;
}


#siteinfo {
color:white;
font-size: 16px;
margin-bottom: 15px;
width: 300px;
display: inline;
margin-top: 100px;
}

#mainpic {
right: 0;
margin-top: 100px;
width: 400px;
display: inline;
}
.login .ui-dialog-buttonpane, .login button {
width: 100%;
}

.login button, .login button:active, .login button:focus {
margin-bottom: 15px;
padding: 7px;
}


.button, .button:active, .button:focus, input[type=button], button{
font-family: roboto;
background-color: #E26D26;
border: none;
display: block;
border: none;
display: block;
color: #fff;
font-weight: 300;
cursor: pointer;
float: left;
transition-property: background-color;
transition-duration: 0.15s;
}

.button:hover, input[type=button]:hover, button:hover {
background-color: #ff8c49;
}

.buttonGray, .buttonGray:active, .buttonGray:focus, button.buttonGray, input[type=button].buttonGray {
	background: #848D9C;
}

.buttonGray:hover, button.buttonGray:hover, input[type=button].buttonGray:hover {
	background: #95A3BB;
}


.title
{
font-family: roboto;
font-size: 20px;
font-weight: 300;
margin-bottom: 10px;
margin-right: 5px;
vertical-align: middle;
}


#footer {
width: 1000px;
margin: 0 auto;
margin-top: 50px;
margin-bottom: 20px;
color: #E26D26;
}

p#chatbox {
padding-left:800px;
}
#footer p {
	width: 370px;
margin: 0 auto;
}

#footer a, #footer a:visited {
color: #E26D26;
margin: 0px 10px;
text-decoration: none;
font-family: roboto;
font-weight: 300;
}

#footer a:hover {
color: #fff;
}

#login {
display: none;
width: 250px;
}
